".source.js, .source.ts, .source.tsx, .source.jsx":
    "Area generator":
        prefix: "area"
        body: """
        const area = d3.area()
            .x(d => x(d.${1:}))
            .y1(d => y(d.${2:}))
            .y0(y(0));
        """
