".source.js, .source.ts, .source.tsx, .source.jsx":
    "Create a SVG axis":
        prefix: "axis"
        body: """
        d3.axis()
            .scale(${1:})
            .ticks(${2:})
            .orient('${3:}')
        """
