".text.html":
  'Scaffold a block':
    'prefix': 'createblock'
    'body': '''
    <!DOCTYPE html>
    <style>
    </style>
    <body>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
    ${1:}
    </script>
    '''
