".source.js":
    "Create a SVG circle":
        prefix: "circle"
        body: """
        .enter()
            .append('circle')
            .attr('cx', ${1:})
            .attr('cy', ${2:})
            .attr('r', ${3:})
            .style('fill', '${4:#111}');
        """
