".source.js, .source.ts, .source.tsx, .source.jsx":
    "Load a CSV file":
        prefix: "csv"
        body: """
        d3.csv('${1:}').then(data => {
          ${2:console.log(data);}
        });
        """
