".source.js, .source.ts, .source.tsx, .source.jsx":
    "Line generator":
        prefix: "lineg"
        body: """
        const line = d3.line()
          .x(d => x(d.${1:}))
          .y(d => y(d.${2:}));
        """
