".source.js, .source.ts, .source.tsx, .source.jsx":
    "Append a SVG with the margin convention":
        prefix: "margin"
        body: """
        var margin = {top: ${1:20}, right: ${2:10}, bottom: ${3:20}, left: ${4:10}},
            width = ${5:960} - margin.left - margin.right,
            height = ${6:500} - margin.top - margin.bottom;

        var svg = d3.select('${7:body}').append('svg')
            .attr('width', width + margin.left + margin.right)
            .attr('height', height + margin.top + margin.bottom)
          .append('g')
            .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

        ${8:}
        """
