".source.js, .source.ts, .source.tsx, .source.jsx":
    "Nest a dataset":
        prefix: "nest"
        body: """
        const nest = d3.nest()
            .key(d => d.${1:})
            .entries(${2:});
        """
