".source.js, .source.ts, .source.tsx, .source.jsx":
    "Nest a dataset":
        prefix: "nest"
        body: """
        var nest = d3.nest()
            .key(function(d) { return ${1:}; })
            .entries(${2:});
        """
