".source.js, .source.ts, .source.tsx, .source.jsx":
    "Create a sample scale":
        prefix: "scale"
        body: """
        d3.${1:scaleLinear}()
            .domain([${2:}, ${3:}])
            .range([${4:}, ${5:}]);
        """
