".source.js, .source.ts, .source.tsx, .source.jsx":
    "Create a Voronoi diagram":
        prefix: "voronoi"
        body: """
        const voronoi = d3.voronoi()
            .x(d => x(d.${1:}))
            .y(d => y(d.${2:}))
            .extent([[0, 0], [${3:width}, ${4:height}]]);

        const voronoiGroup = svg.append('g')
            .attr('class', 'voronoi');

        voronoiGroup.selectAll('path')
            .data(voronoi.polygons(${5:data}))
            .enter().append('path')
            .attr('d', d => d ? 'M' + d.join('L') + 'Z' : null)

        """
